<ul>
  <li><a href="/signup">Signup</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout</a></li>
  <li><a href="/trucks">Home</a></li>
  <li><a href="/trucks/new">New Truck</a></li>
</ul>

<h1>Truck</h1>

<ol>
    <% @trucks.each do |truck| %>
        <li>
            <a href="/trucks/<%= truck.id %>">
                <%= truck.model %>
            </a>
        </li>
    <% end %>
</ol>
