<ul>
  <li><a href="/signup">Signup</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout</a></li>
  <li><a href="/trucks">Home</a></li>
  <li><a href="/trucks/new">New Truck</a></li>
</ul>

<h1>Create a Truck</h1>

<%= "Must include model and make" if @truck && @truck.errors.any?%>

<form action="/trucks" method = "POST">

    <p>
        <input type="text" name="model" />
    </p>

    <p>
        <textarea name="make"></textarea>
    </p>
<input type="submit" />
</form>