<ul>
  <li><a href="/signup">Signup</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout</a></li>
  <li><a href="/trucks">Home</a></li>
  <li><a href="/trucks/new">New Truck</a></li>
</ul>

<h1>Edit <%= @truck.model %></h1>

<form action="/trucks/<%= @truck.id %>" method="POST">
  <p>
    <input id="hidden" type="hidden" name="_method" value="patch">
  </p>
  <p>
    <input type="text" name= "model" vale="<%= @truck.model %>"/>
  </p>
  <p>
    <textarea name="make"><%= @truck.make %></textarea>
  </p>

  <input type="submit" id="submit" />
</form>