<ul>
  <li><a href="/signup">Signup</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout</a></li>
  <li><a href="/trucks">Home</a></li>
  <li><a href="/trucks/new">New Truck</a></li>
</ul>

<h1><%= @truck.model%></h1>

<p><%=@truck.make %></p>

<p>
    <a href="/trucks/<%= @truck.id %>/edit">Edit</a>
</p>
